.containerContent{
  padding: 30px;
  float: left;
  width: 65%;
  height: 90%;
}


/* Phones  */
@media screen and (max-width: 1061px) {
  .containerContent{
    padding: 30px;
    float: left;
    width: 100%;
    height: 50%;
  }
}