.preTitleContainer{
  background-color: black;
  height: 100%;
  width: 35%;
  float: left;
  overflow: scroll;
}

.contentInfo{
  position:relative;
  color: #ffff;
  margin: auto;
  width: 80%;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 40px;
  top:30%
  
}


/* Phones  */
@media screen and (max-width: 1061px) {
  .preTitleContainer{
    background-color: black;
    height: 25%;
    width: 100%;
  }

  .contentInfo{
    position:relative;
    color: #ffff;
    margin: auto;
    width: 70%;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    top: 15%
    
  }
}
