.radius{
  border-radius: 40px !important;
}

.space-left{
  margin-left: 30px;
}

.btn-aling {
  float: right;
}

.margin-top{
  margin-top: 30px;
}

#__next{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

body{
  height: 100%;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe::-webkit-scrollbar {
  display: none;
}

iframe {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.pdfjs { 
  display: none !important; 
}

@media screen and (max-width: 1061px) {
  .radius{
    float: none;
  }
}