.principalTitle{
  font-size: 63px;
  font-weight: bold;
  width: 35%;
  padding-top: 32px;
  margin:auto;
  font-family: 'Mixed';
}

.youtubeVideo{
  width: 900px;
  margin:auto;
  padding-top: 50px;
  text-align: center;
}

.btnContainer{
  width: 900px;
  margin:auto;
  padding-top: 50px;

}
/* Phones  */
@media screen and (max-width: 1061px) {
  .principalTitle{
    font-size: 32px;
    width: 100%;
    font-weight: bold;
    padding-top: 32px;
    font-family: 'Mixed';
    float: none;
    text-align: center;
  }

  .youtubeVideo{
    width: 90%;
    margin:auto;
    padding-top: 50px;
    align-items: center;
 
  }

  .btnContainer{
    width:  90%;
    text-align: center;
  }



}
